<div class="br2 ba b--black-10 mb2">
    <div class="min-h2 mv0 pv2 ph3 flex items-center justify-between f4 bg-near-white br2 br--top pointer" (click)="open = !open">
        <div>
            <i class="f5 fa fa-chevron-right" [hidden]="open"></i>
            <i class="f5 fa fa-chevron-down" [hidden]="!open"></i>
            {{itemLending?.item?.name}} (due: {{itemLending?.due | date:'short'}})
        </div>
        <div>
            <div class="tooltip tooltip-left button h2 pv1 ph2 ml2 br2 link bg-animate hover-bg-light-silver pointer" data-tooltip="return" (click)="return.emit(itemLending?.item?.id)">
                <i class="fa fa-reply"></i>
            </div>
        </div>
    </div>
    <div class="ph2 bt b--black-10" [hidden]="!open">
        <p class="f4"><span class="b">Type:</span> <span class="link underline-hover pointer" routerLink="/item-types/{{itemLending?.item?.type?.id}}">{{itemLending?.item?.type?.name}}</span></p>
    </div>
</div>
