<div class="br2 ba b--black-10 mb2">
    <div class="min-h2 mv0 pv2 ph3 flex items-center justify-between f4 bg-near-white br2 br--top pointer" (click)="open = !open">
        <div>
            <i class="f5 fa fa-chevron-right" [hidden]="open"></i>
            <i class="f5 fa fa-chevron-down" [hidden]="!open"></i>
            {{item?.name}}
        </div>
        <div>
            <div class="tooltip tooltip-left button h2 pv1 ph2 br2 ml link bg-animate hover-bg-light-silver pointer" data-tooltip="remove" (click)="staging.remove(itemID)">
                <i class="fa fa-cart-arrow-down"></i>
            </div>
        </div>
    </div>

    <div class="ph2 bt b--black-10" [hidden]="!open">
        <p class="f4"><span class="b">Type:</span> <span class="link underline-hover pointer" routerLink="/item-types/{{item?.type?.id}}">{{item?.type?.name}}</span></p>
        <p class="f4"><span class="b">Tags:</span> <span *ngFor="let tag of tags; let isLast=last" routerLink="/tags/{{tag.id}}"><span class="link underline-hover pointer">{{tag.name}}</span>{{isLast ? '' : ', '}}</span></p>
        <p class="f4"><span class="b">Lending Duration:</span><ttf-lending-duration [duration]="lendingDuration"></ttf-lending-duration></p>
        <p class="f4 b">Attributes:</p>
        <p class="f5" *ngFor="let attr of attributes"><span class="b">{{attr.attribute_definition?.name}}:</span> {{attr?.value}}</p>
    </div>
</div>

