<div class="mt1 ba b--dashed br2 bw2 pa2 flex items-center justify-center pointer"
    [ngClass]="{'b--gray': !dragover && !hover, 'gray': !dragover && !hover}"
    (mouseenter)="hover=true" (mouseleave)="hover=false"
    (dragenter)="dragover=true" (dragleave)="dragover=false"
    (drop)="onDropFile($event); dragover=false" (dragover)="onDragOverFile($event)"
    (click)="upload.open()">
    <span [hidden]="hover && !dragover">
        Dop file here...
    </span>
    <span [hidden]="!hover || dragover">
        Click to upload file
    </span>
</div>


<ttf-dialog [dialogType]="'ok-cancel'" [icon]="'save'" [okCallback]="selectFilesFromDialog" #upload>
    <h1 class="mv0" title>Choose a file to upload:</h1>
    <div class="w-100 ph3 pv2 flex items-center" body>
        <span class="mr2 f4">Choose file:</span>
        <div class="min-w5 flex-grow-1 flex bb b--gray">
            <input class="flex-grow-1 input-reset bn pa1 min-w5" [name]="'fileUpload'" [type]="'file'" [accept]="getAcceptedFiles()" (keyup.enter)="upload.ok()" multiple #fileInput >
        </div>
    </div>
</ttf-dialog>
