<div class="flex flex-wrap">
    <div class="h4 w5 ma2 br3 bg-near-white flex flex-column items-center justify-center grow pointer" *ngIf="jwt.isModerator()" routerLink="/item-types">
        <i class="f2 fa fa-folder"></i>
        <a class="f3 black">Item Types</a>
    </div>
    <div class="h4 w5 ma2 br3 bg-near-white flex flex-column items-center justify-center grow pointer" *ngIf="jwt.isModerator()" routerLink="/tags">
        <i class="f2 fa fa-tags"></i>
        <a class="f3 black">Tags</a>
    </div>
    <div class="h4 w5 ma2 br3 bg-near-white flex flex-column items-center justify-center grow pointer" *ngIf="jwt.isModerator()" routerLink="/attribute-definitions">
        <i class="f2 fa fa-clipboard"></i>
        <a class="f3 black">Attribute Definitions</a>
    </div>
    <div class="h4 w5 ma2 br3 bg-near-white flex flex-column items-center justify-center grow pointer" routerLink="/items">
        <i class="f2 fa fa-list"></i>
        <a class="f3 black">Items</a>
    </div>
    <div class="h4 w5 ma2 br3 bg-near-white flex flex-column items-center justify-center grow pointer" routerLink="/search">
        <i class="f2 fa fa-search"></i>
        <a class="f3 black">Search</a>
    </div>
    <div class="h4 w5 ma2 br3 bg-near-white flex flex-column items-center justify-center grow pointer" *ngIf="jwt.isModerator()" routerLink="/lendings">
        <i class="f2 fa fa-address-card"></i>
        <a class="f3 black">Lendings</a>
    </div>
</div>
