<div>
    <div class="flex items-center">
        <div class="w2 tc grow pointer" (click)="open = !open">
            <i class="fa fa-chevron-right" [hidden]="open"></i>
            <i class="fa fa-chevron-down" [hidden]="!open"></i>
        </div>
        <span class="mr2">Search: </span>
        <div class="flex bb b--gray flex-grow-1 items-center">
            <input class="input-reset bn pa1 flex-grow-1" type="search" placeholder="search" [(ngModel)]="searchstring"
                (keyup.enter)="search()"/>
            <div class="w2 flex justify-around items-center pointer link" style="margin-left: -2rem" (click)="search()">
                <i class="fa fa-search grow pointer"></i>
            </div>
        </div>
    </div>
    <div [hidden]="!open">
        <div class="mt2 flex items-center">
            <span class="mr2 flex-grow-1 pointer" (click)="includeDeleted = !includeDeleted">
                Include Deleted Items:
                <i class="fa fa-fw fa-square-o" [hidden]="includeDeleted"></i>
                <i class="fa fa-fw fa-check-square-o" [hidden]="!includeDeleted"></i>
            </span>
            <span class="mr2 flex-grow-1 pointer" (click)="includeLent = !includeLent">
                Include Lent Items:
                <i class="fa fa-fw fa-square-o" [hidden]="includeLent"></i>
                <i class="fa fa-fw fa-check-square-o" [hidden]="!includeLent"></i>
            </span>
            <span class="mr2 flex-grow-1 pointer" (click)="onlyLendable = !onlyLendable">
                Only Lendable Items:
                <i class="fa fa-fw fa-square-o" [hidden]="onlyLendable"></i>
                <i class="fa fa-fw fa-check-square-o" [hidden]="!onlyLendable"></i>
            </span>
        </div>
        <div class="mt2 flex items-center" [ngClass]="{flex: !(restrictToType >= 0)}" [hidden]="restrictToType >= 0">
            <span class="mr2 w5">Filter Type:</span>
            <ttf-type-chooser [(ngModel)]="type" (ngModelChange)="updateAttributes()" [allowDeselect]="true"></ttf-type-chooser>
        </div>
        <div class="mt2 flex items-center">
            <span class="mr2 w5">Filter Tags:</span>
            <ttf-tags-chooser [offline]="true" (selectedTags)="tags = $event; updateAttributes()"></ttf-tags-chooser>
        </div>
        <div class="mt2" *ngFor="let attr of attributes">
            <form *ngIf="attributeForms.get(attr.id) != null" [formGroup]="attributeForms.get(attr.id)">
                <div *ngFor="let question of attributeQuestions.get(attr.id)" class="form-row">
                    <df-question [question]="question" [form]="attributeForms.get(attr.id)"></df-question>
                </div>
            </form>
        </div>
        <div class="bg-animate bg-near-white br2 flex hover-bg-light-silver items-center justify-center mt2 pa2" (click)="search()">
            <i class="fa fa-search"></i> Search
        </div>
    </div>
</div>
<div class="mt3" [hidden]="!searchDone">
    <div class="mb3 flex flex-wrap justify-center">
        <div class="mr1 pointer" [ngClass]="{underline: filter == null}" (click)="setFilter(null)">ALL</div>
        <div class="mr1" (click)="setFilter(letter)" [ngClass]="{underline: filter === letter, pointer: data?.get(letter)?.length > 0, 'black-60': data?.get(letter)?.length <= 0}"  *ngFor="let letter of alphabet">{{letter}}</div>
    </div>
    <ng-container *ngFor="let letter of alphabet">
        <div class="flex" [ngClass]="{flex: (filter == null || filter === letter), dn: true}">
            <ng-container *ngIf="data?.get(letter)?.length > 0">
                <div class="f3 gray" style="width: 1em">{{letter}}</div>
                <ul class="mt0 list">
                    <li class="min-w2 mb1 hide-child" *ngFor="let item of data?.get(letter)" (isVisible)="loadData(item)">
                        <p class="mv0">
                            <span class="b link underline-hover pointer" routerLink="/items/{{item.id}}" [hidden]="asSelector">{{item.name}}</span>
                            <span (click)="select(item)" class="underline-hover pointer" [hidden]="!asSelector">{{item.name}}</span>
                            <span class="i gray" [hidden]="!item?.is_currently_lent">lent</span>
                            <ng-container *ngIf="itemTypes.get(item.type_id)?.lendable && !item?.is_currently_lent && !asSelector">
                                <i class="child grow-large fa fa-cart-plus" [hidden]="staging.isStaged(item.id)" (click)="staging.stage(item.id)"></i>
                                <i class="fa fa-shopping-cart" [hidden]="!staging.isStaged(item.id)"></i>
                            </ng-container>
                        </p>
                        <p class="mv0 pl2">
                            <span class="black-70 mr3">
                                <span class="b">
                                    Type:
                                </span>
                                {{itemTypes.get(item.type_id)?.name}}
                                <ng-container *ngIf="itemTags.get(item.id)?.length > 0">
                                    <span class="ml3 b">
                                        Tags:
                                    </span>
                                    <span class="black-70" *ngFor="let tag of itemTags.get(item.id); let last = last">
                                        {{tag?.name}}{{last ? '' : ', '}}
                                    </span>
                                </ng-container>
                            </span>
                        </p>
                        <p class="mv0 pl2" *ngIf="itemAttributes.get(item.id)?.length > 0">
                            <span class="black-70" *ngFor="let attr of itemAttributes.get(item.id); let last = last">
                                <span class="b">
                                    {{attr.attribute_definition | attributeDefinitionTitle}}:
                                </span>
                                {{attr.value}}{{last ? '' : ', '}}
                            </span>
                        </p>
                    </li>
                </ul>
            </ng-container>
        </div>
        <p class="tr mv0 link gray hover-black pointer" [ngClass]="{dn: filter !== letter}" [hidden]="data?.get(letter)?.length < 5" (click)="stageAll(letter)">stage all {{data?.get(letter)?.length}} items</p>
    </ng-container>
    <p class="tr mv0 link gray hover-black pointer" [hidden]="nrOfItemsFound < 5" (click)="stageAll()" *ngIf="availableLetters?.size > 1 && filter == null">stage all {{nrOfItemsFound}} items</p>
</div>
