/* You can add global styles to this file, and also import other style files */
//@import "../node_modules/bootstrap/scss/bootstrap";
//@import "../node_modules/bootstrap/scss/bootstrap-grid";
@import "./variables";
@import '../node_modules/font-awesome/scss/font-awesome';
@import "../node_modules/tachyons/css/tachyons";

body {
    height: 100vh;
}

.w6 {
    width: 32rem;
}

.min-w2 {
    min-width: 2rem;
}

.min-w3 {
    min-width: 4rem;
}

.min-w4 {
    min-width: 8rem;
}

.min-w5 {
    min-width: 16rem;
}

.min-h3 {
    min-height: 4rem;
}

.max-h3 {
    max-height: 4rem;
}

.max-h4 {
    max-height: 8rem;
}

.max-h5 {
    max-height: 16rem;
}

.bg-black-a40 {
    background-color: rgba($color: #000000, $alpha: 0.4);
}

.tooltip {
    position: relative;
    text-decoration: none;
}
.tooltip:hover:after, .tooltip:hover:before {
    opacity: 0.8;
    pointer-events: all;
}
.tooltip:after {
    content: attr(data-tooltip);
    position: absolute;
    z-index: 1;
    min-height: 1.2rem;
    max-width: 30em;
    width: max-content;
    font-size: 1rem;
    color: white;
    background-color: black;
    padding: .25rem;
    border-radius: .125rem;
    opacity: 0;
    transition: opacity 0.2s ease-in;
    pointer-events: none;

}
.tooltip:before {
    content: "";
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.2s ease-in;
    pointer-events: none;
}
.tooltip:hover:after, .tooltip:hover:before {
    opacity: 0.9;
    pointer-events: all;
}
.tooltip-left:after {
    right: calc(100% + 0.375rem);
    top: calc(50% - 0.75rem);
}
.tooltip-left:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: calc(100% + 0.125rem);
    top: calc(50% - 0.25rem);
    border-style: solid;
    border-width: 0.25rem 0 0.25rem 0.25rem;
    border-color: transparent transparent transparent black;
}
.tooltip-right:after {
    left: calc(100% + 0.375rem);
    top: calc(50% - 0.75rem);
}
.tooltip-right:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: calc(100% + 0.125rem);
    top: calc(50% - 0.25rem);
    border-style: solid;
    border-width: 0.25rem 0.25rem 0.25rem 0;
    border-color: transparent black transparent transparent;
}
