/* You can add global styles to this file, and also import other style files */
//@import "../node_modules/bootstrap/scss/bootstrap";
//@import "../node_modules/bootstrap/scss/bootstrap-grid";
@import "./variables";
@import '../node_modules/font-awesome/scss/font-awesome';
@import "../node_modules/tachyons/css/tachyons";
@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
    --background-color: #ffffff;
    --titlebar-color : #f4f4f4;
    --titlebar-text-color : #000000;
    --breadcrumbs-color : #ffffff;
    --breadcrumbs-text-color : #000000;
    --main-button-color : #f4f4f4;
    --main-button-text-color : #000000;
    --box-header-color : #f4f4f4;
    --box-header-text-color : #000000;
    --box-content-color : #ffffff;
    --box-content-text-color : #000000;
    --dialog-header-color : #f4f4f4;
    --dialog-header-text-color : #000000;
    --dialog-content-color : #ffffff;
    --dialog-content-text-color : #000000;
    --header-button-color : #aaaaaa;
    --header-button-text-color : #000000;
    --header-success-button-hover-color: #9eebcf;
    --header-success-button-text-hover-color: #000000;
    --header-fail-button-hover-color: #ff725c;
    --header-fail-button-text-hover-color: #000000;
}

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.ttf-background {
    background-color: var(--background-color);
}

.ttf-titlebar {
    background-color: var(--titlebar-color);
    color: var(--titlebar-text-color);
}

.ttf-breadcrumbs {
    background-color: var(--breadcrumbs-color);
    color: var(--breadcrumbs-text-color);
}

.ttf-main-button {
    background-color: var(--main-button-color);
    color: var(--main-button-text-color);
}

.ttf-box-header {
    background-color: var(--box-header-color);
    color: var(--box-header-text-color);
}

.ttf-box-content {
    background-color: var(--box-content-color);
    color: var(--box-content-text-color);
}

.ttf-dialog-header {
    background-color: var(--dialog-header-color);
    color: var(--dialog-header-text-color);
}

.ttf-dialog-content {
    background-color: var(--dialog-content-color);
    color: var(--dialog-content-text-color);
}

.ttf-header-button {
    background-color: var(--header-button-color);
    color: var(--header-button-text-color);
}

.ttf-header-success-button:hover {
    background-color: var(--header-success-button-hover-color);
    color: var(--header-success-button-text-hover-color);
}

.ttf-header-fail-button:hover {
    background-color: var(--header-fail-button-hover-color);
    color: var(--header-fail-button-text-hover-color);
}


.w6 {
    width: 32rem;
}

.min-w2 {
    min-width: 2rem;
}

.min-w3 {
    min-width: 4rem;
}

.min-w4 {
    min-width: 8rem;
}

.min-w5 {
    min-width: 16rem;
}

.min-h3 {
    min-height: 4rem;
}

.max-h3 {
    max-height: 4rem;
}

.max-h4 {
    max-height: 8rem;
}

.max-h5 {
    max-height: 16rem;
}

.bg-black-a40 {
    background-color: rgba($color: #000000, $alpha: 0.4);
}

.tooltip {
    position: relative;
    text-decoration: none;
}
.tooltip:hover:after, .tooltip:hover:before {
    opacity: 0.8;
    pointer-events: all;
}
.tooltip:after {
    content: attr(data-tooltip);
    position: absolute;
    z-index: 1;
    min-height: 1.2rem;
    max-width: 30em;
    width: max-content;
    font-size: 1rem;
    color: white;
    background-color: black;
    padding: .25rem;
    border-radius: .125rem;
    opacity: 0;
    transition: opacity 0.2s ease-in;
    pointer-events: none;
    white-space: pre-line;

}
.tooltip:before {
    content: "";
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.2s ease-in;
    pointer-events: none;
}
.tooltip:hover:after, .tooltip:hover:before {
    opacity: 0.9;
    pointer-events: all;
}
.tooltip-left:after {
    right: calc(100% + 0.375rem);
    top: calc(50% - 0.75rem);
}
.tooltip-left:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: calc(100% + 0.125rem);
    top: calc(50% - 0.25rem);
    border-style: solid;
    border-width: 0.25rem 0 0.25rem 0.25rem;
    border-color: transparent transparent transparent black;
}
.tooltip-right:after {
    left: calc(100% + 0.375rem);
    top: calc(50% - 0.75rem);
}
.tooltip-right:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: calc(100% + 0.125rem);
    top: calc(50% - 0.25rem);
    border-style: solid;
    border-width: 0.25rem 0.25rem 0.25rem 0;
    border-color: transparent black transparent transparent;
}
.tooltip-bottom:after {
    left: 0.375rem;
    top: calc(100% + 0.375rem);
}
.tooltip-bottom:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 1rem;
    top: calc(100% + 0.125rem);
    border-style: solid;
    border-width: 0 0.25rem 0.25rem 0.25rem;
    border-color: transparent transparent black transparent;
}
.tooltip-left:not(.tooltip)::after, .tooltip-left:not(.tooltip)::before {
    display: none;
}
.tooltip-right:not(.tooltip)::after, .tooltip-right:not(.tooltip)::before {
    display: none;
}
.tooltip-bottom:not(.tooltip)::after, .tooltip-bottom:not(.tooltip)::before {
    display: none;
}

