$fa-font-path : '../node_modules/font-awesome/fonts';

$background-color : #ffffff;
$titlebar-color : #f4f4f4;
$titlebar-text-color : #000000;
$breadcrumbs-color : #ffffff;
$breadcrumbs-text-color : #000000;
$main-button-color : #f4f4f4;
$main-button-text-color : #000000;
$box-header-color : #f4f4f4;
$box-header-text-color : #000000;
$box-content-color : #ffffff;
$box-content-text-color : #000000;
$dialog-header-color : #f4f4f4;
$dialog-header-text-color : #000000;
$dialog-content-color : #ffffff;
$dialog-content-text-color : #000000;
$header-button-color : #aaaaaa;
$header-button-text-color : #000000;
