$fa-font-path : '../node_modules/font-awesome/fonts';

$background-color : #ffffff;
$titlebar-color : #f4f4f4;
$breadcrumbs-color : #ffffff;
$main-button-color : #f4f4f4;
$box-header-color : #f4f4f4;
$box-background-color : #ffffff;
$dialog-header-color : #f4f4f4;
$dialog-content-color : #ffffff;
