[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
drop-db = "flask drop_db"
upgrade-db = "flask db upgrade"
create-migration = "flask db migrate"
start = "flask run"
start-celery-worker = "celery -A total_tolles_ferleihsystem worker -B --loglevel=info"

[dev-packages]
jedi = "*"
mypy = "*"
nose = "*"
pep8 = "*"
pylint = "*"

[packages]
flask-restplus = "==0.12.1"
celery = "==4.1.1"
ldap3 = "==2.5"
Flask = "==1.0.2"
Werkzeug = "<1.0.0"
Flask-SQLAlchemy = "==2.3.1"
Flask-Migrate = "==2.2.1"
Flask-Cors = "==3.0.9"
Flask-JWT-Extended = "==3.12.1"
Flask-Bcrypt = "==0.7.1"
total-tolles-ferleihsystem = {editable = true,path = "."}
