<ttf-dropdown class="min-w5 flex flex-grow-1" #dropdown>
    <div class="min-w5 bb b--gray flex-grow-1 flex flex-wrap gray hover-black" content>
        <div class="flex-grow-1 flex">
            <input class="input-reset bn pa1 black flex-grow-1" type="search" [(ngModel)]="searchTerm"
                    (ngModelChange)="updateFilter()" placeholder="search types"
                    (focus)="dropdown.openDropdown(); updateFilter('')" (keyup)="dropdown.openDropdown()"
                    (keyup.enter)="select()" (keyup.arrowdown)="highlightNext()" (keyup.arrowup)="highlightPrevious()">
        </div>
        <div class="w2 flex justify-around items-center pointer link" style="margin-left: -2rem" (click)="dropdown.toggleDropdown(); updateFilter('')"><i class="f4 fa fa-angle-down"></i></div>
    </div>
    <div dropdown-content dropdown-content>
        <div class="pa1" *ngFor="let type of types" (click)="select(type)" [ngClass]="{'bg-light-blue': type.id === highlighted, 'b': selected === type.id}" (mouseenter)="highlighted = type.id" [hidden]="filter.has(type.id)">
            {{type.name}}
        </div>
    </div>
</ttf-dropdown>
