<ttf-box>
    <h1 class="mv0" title>Edit: {{tag?.name}}</h1>
    <div class="button h2 pv1 ph2 br2 ttf-header-button ttf-header-fail-button link bg-animate pointer" (click)="confirm.open()" *ngIf="jwt.isAdmin()" title-right>
        <i class="fa fa-trash"></i>
    </div>
    <div class="w-100 ph3 pv2" body>
        <dynamic-form [objectModel]="'ItemTagPUT'" [startValues]="tag" [showSaveButton]="jwt.isAdmin()" (save)="save($event)"></dynamic-form>
    </div>
</ttf-box>

<ttf-dialog [closable]="false" [dialogType]="'delete-cancel'" [icon]="'delete'" [okCallback]="delete" #confirm>
    <h1 class="mv0" title>Delete "{{tag?.name}}"</h1>
    <div class="w-100 ph3 pv2" body>
        Do you want to delete "{{tag?.name}}"?
    </div>
</ttf-dialog>
