<ttf-box>
    <h1 class="mv0" title>Edit: {{tag?.name}}</h1>
    <div class="tooltip-left button h2 pv1 ph2 br2 link bg-animate hover-bg-light-red pointer" data-tooltip="delete" (click)="confirm.open()" title-right>
        <i class="fa fa-trash"></i>
    </div>
    <div class="w-100 ph3 pv2" body>
        <dynamic-form [objectModel]="'ItemTagPUT'" [startValues]="tag" (valid)="onValidChange($event)" (data)="onDataChange($event)"></dynamic-form>
        <div class="button h2 pv1 ph2 br2 bg-light-silver link bg-animate" [ngClass]="{'hover-bg-light-blue': valid, 'pointer': valid, 'bg-light-red': !valid}" (click)="save($event)" >Save<i class="fa fa-check mr2"></i></div>
    </div>
</ttf-box>

<ttf-dialog [closable]="false" [dialogType]="'delete-cancel'" [icon]="'delete'" [okCallback]="delete" #confirm>
    <h1 class="mv0" title>Delete "{{tag?.name}}"</h1>
    <div class="w-100 ph3 pv2" body>
        Do you want to delete "{{tag?.name}}"?
    </div>
</ttf-dialog>