<ttf-box>
    <h1 class="mv0" title>Tags:</h1>
    <div class="button h2 pv1 ph2 br2 bg-light-silver link bg-animate hover-bg-light-green pointer" (click)="newTag.open()" title-right>
        <i class="fa fa-plus mr2"></i>New
    </div>
    <div class="w-100 ph3 pv2" body>
        <ttf-tag-list></ttf-tag-list>
    </div>
</ttf-box>

<ttf-dialog [dialogType]="'save-cancel'" [valid]="form.valid" [icon]="'save'" [okCallback]="save" #newTag >
    <h1 class="mv0" title>Tag:</h1>
    <div class="w-100 ph3 pv2" body>
        <dynamic-form [objectModel]="'ItemTagPOST'" (data)="onDataChange($event)" #form ></dynamic-form>
    </div>
</ttf-dialog>
