<div class="mb3 flex flex-wrap justify-center">
    <div class="mr1 pointer" [ngClass]="{underline: filter == null}" (click)="setFilter(null)">ALL</div>
    <div class="mr1" (click)="setFilter(letter)" [ngClass]="{underline: filter === letter, pointer: data?.get(letter).length > 0, 'black-60': data?.get(letter).length <= 0}"  *ngFor="let letter of alphabet">{{letter}}</div>
</div>
<ng-container *ngFor="let letter of alphabet">
    <div class="flex" [ngClass]="{flex: (filter == null || filter === letter), dn: true}">
        <ng-container *ngIf="data?.get(letter).length > 0">
            <div class="f3 gray" style="width: 1em">{{letter}}</div>
            <ul class="mt0 list">
                <li class="min-w2 mb1 hide-child link" [ngClass]="{'pointer': jwt.isAdmin()}" *ngFor="let attrDef of data?.get(letter)" (click)="select(attrDef)">
                    <i class="mr1 fa fa-square-o" [hidden]="selected.has(attrDef.id)"></i>
                    <i class="mr1 fa fa-check-square-o" [hidden]="!selected.has(attrDef.id)"></i>
                    {{attrDef.name}} ({{attrDef.type}})
                    <span class="ml1 child link pointer" routerLink="/attribute-definitions/{{attrDef.id}}"><i class="dim fa fa-pencil"></i></span>
                </li>
            </ul>
        </ng-container>
    </div>
</ng-container>
