<!doctype html>
<html lang="en">

<head>
    <base href="{{angularBasePath}}">
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <script>
        window.apiBasePath = "{{apiBasePath}}";
        window.maxDBStringLength = "{{maxDBStringLength}}";
    </script>
</head>

<body>
    <ttf-root class="h-100 flex flex-column"></ttf-root>
    {{ javascript_tag('inline') | safe }}
    {{ javascript_tag('polyfills') | safe }}
    {{ javascript_tag('styles') | safe }}
    {{ javascript_tag('vendor') | safe }}
    {{ javascript_tag('main') | safe }}
</body>

</html>
