<div class="w-100 relative">
    <div class="absolute z-1 w-100 bg-white flex flex-column-reverse">
        <ng-container *ngFor="let message of messages">
            <div class="h3 shadow-2 flex items-center" [ngClass]="{'bg-washed-blue': message.type==='info', 'bg-washed-yellow': message.type==='warning', 'bg-washed-red': message.type==='error'}">
                <ng-container [ngSwitch]="message.type">
                    <i class="f3 ml4 fa fa-info-circle blue" *ngSwitchCase="'info'"></i>
                    <i class="f3 ml4 fa fa-exclamation-circle orange" *ngSwitchCase="'warning'"></i>
                    <i class="f3 ml4 fa fa-exclamation-triangle red" *ngSwitchCase="'error'"></i>
                    <i class="f3 ml4 fa fa-question-circle" *ngSwitchDefault></i>
                </ng-container>
                <div class="flex-grow-1 ml4">
                    <p class="mt0 mb1 b">{{message.title}}</p>
                    <P class="ma0">{{message.message}}</P>
                </div>
                <div class="mh4 button h2 pv1 ph2 br2 grow pointer" (click)="remove(message)">
                    <i class="f3 fa fa-close mr2"></i>
                </div>
            </div>
        </ng-container>
    </div>
</div>
