<ttf-box>
    <h1 class="mv0" title>Item Types:</h1>
    <div class="button h2 pv1 ph2 br2 bg-light-silver link bg-animate hover-bg-light-green pointer" (click)="newItemType.open()" title-right>
        <i class="fa fa-plus mr2"></i>New
    </div>
    <div class="w-100 ph3 pv2" body>
        <ttf-item-type-list></ttf-item-type-list>
    </div>
</ttf-box>

<ttf-dialog [dialogType]="'save-cancel'" [valid]="form.valid" [okCallback]="save" #newItemType >
    <h1 class="mv0" title>New Item Types:</h1>
    <div class="w-100 ph3 pv2" body>
        <dynamic-form [objectModel]="'ItemTypePOST'" (data)="onDataChange($event)" #form ></dynamic-form>
    </div>
</ttf-dialog>
