<ttf-box>
    <h1 class="mv0" title>Items:</h1>
    <div class="button h2 pv1 ph2 br2 ttf-header-button link bg-animate hover-bg-light-green pointer" (click)="newItem.open()" *ngIf="jwt.isAdmin()" title-right>
        <i class="fa fa-plus mr2"></i>New
    </div>
    <div class="w-100 ph3 pv2" body>
        <ttf-item-list></ttf-item-list>
    </div>
</ttf-box>

<ttf-dialog [dialogType]="'save-cancel'" [valid]="form?.valid | async" [icon]="'save'" [okCallback]="save" #newItem >
    <h1 class="mv0" title>Item:</h1>
    <div class="w-100 ph3 pv2" body>
        <dynamic-form [objectModel]="'ItemPOST'" (data)="onDataChange($event)" #form ></dynamic-form>
    </div>
</ttf-dialog>
