<div class="flex flex-wrap">
    <ttf-box>
        <h1 class="mv0" title>Item "{{item?.name}}" <span class="i gray" [ngClass]="{'underline-hover': jwt.isModerator(), 'pointer': jwt.isModerator()}" routerLink="{{jwt.isModerator() ? ('/lendings/' + item?.lending_id) : '/items/' + item?.id}}" [hidden]="!item?.is_currently_lent">lent</span>:</h1>
        <div class="flex" title-right>
            <div class="button fc h2 pv1 ph2 br2 ml2 link bg-animate hover-bg-light-silver pointer" [ngClass]="{'bg-silver': edit}" (click)="edit = !edit" [hidden]="!canEdit" title-right>
                <i class="fa fa-pencil" [ngClass]="{'fa-inverse': edit}"></i>
            </div>
            <div class="button fc h2 pv1 ph2 br2 ml2 link bg-animate hover-bg-light-silver pointer" [ngClass]="{'bg-silver': staging.isStaged(itemID)}" (click)="staging.stage(itemID)" [hidden]="!item?.type.lendable || item?.is_currently_lent" title-right>
                <i class="fa fa-cart-plus" [hidden]="staging.isStaged(itemID)"></i>
                <i class="fa fa-shopping-cart fa-inverse" [hidden]="!staging.isStaged(itemID)"></i>
            </div>
        </div>
        <div class="w-100 ph3 pv2" body>
            <p class="f4">
                <span class="b">Type:</span>
                <span class="link" [ngClass]="{'underline-hover': jwt.isModerator(), 'pointer': jwt.isModerator()}" routerLink="{{jwt.isModerator() ? ('/item-types/' + item?.type?.id) : '/items/' + item?.id}}">
                    {{item?.type?.name}}
                </span>
                <span class="pointer dim" (click)="howTo.open()">
                    <i class="fa fa-question-circle"></i>
                </span>
            </p>
            <p class="f4">
                <span class="b">Tags:</span>
                <span *ngFor="let tag of tags; let isLast=last" routerLink="{{jwt.isModerator() ? ('/tags/' + tag.id) : '/items/' + item?.id}}">
                    <span class="link" [ngClass]="{'underline-hover': jwt.isModerator(), 'pointer': jwt.isModerator()}" >
                        {{tag.name}}
                    </span>
                    {{isLast ? '' : ', '}}
                </span>
            </p>
            <p class="f4">
                <span class="b">Lending Duration:</span>
                <ttf-lending-duration [duration]="item?.effective_lending_duration"></ttf-lending-duration>
            </p>
            <p class="f4" *ngIf="item?.due" >
                <span class="b">Due:</span>
                <span>{{item?.due | date:'short'}}</span>
            </p>
            <div [hidden]="attributes?.length === 0">
                <p class="f4 b">Attributes:</p>
                <p class="f5" *ngFor="let attr of attributes"><span class="b">{{attr.attribute_definition?.name}}:</span> {{attr?.value}}</p>
            </div>
            <div [hidden]="containedItems?.length === 0">
                <p class="f4 b">Contained Items:</p>
                <p class="f5" *ngFor="let item of containedItems"><span class="hover-underline pointer" routerLink="/items/{{item.id}}">{{item.name}}</span></p>
            </div>
            <div>
                <p class="f4 b">Files:</p>
                <ttf-file-detail *ngFor="let file of fileIDs" [fileID]="file" [uploadFileName]="filenameMap.get(file)"></ttf-file-detail>
                <div class="mt1 ba b--dashed br2 bw2 pa2 flex items-center justify-center" *ngFor="let file of filesUploading" >
                    Uploading "{{file}}" <i class="ml2 fa fa-spin fa-spinner"></i>
                </div>
                <ttf-file-selector (file)="upload($event)"></ttf-file-selector>
            </div>
        </div>
    </ttf-box>

    <ttf-item-edit [itemID]="itemID" [hidden]="!edit || !canEdit"></ttf-item-edit>

    <ttf-box [hidden]="!edit || !canEdit || attributeIDs?.length == 0">
        <h1 class="mv0" title>Attributes:</h1>
        <div class="w-100 ph3 pv2" body>
            <ttf-attribute-edit *ngFor="let attr of attributeIDs" [itemID]="itemID" [attributeID]="attr"></ttf-attribute-edit>
        </div>
    </ttf-box>

    <ttf-box [hidden]="!edit || !canEdit || canContain?.length == 0">
        <h1 class="mv0" title>Contained Items:</h1>
        <div class="w-100 ph3 pv2" body>
            <div class="br2 ba b--black-10 mb2" *ngFor="let itemType of canContain" >
                <div class="min-h2 mv0 pv2 ph3 flex items-center justify-between f4 bg-near-white br2 br--top">
                    <div>
                        {{itemType.name}}
                    </div>
                    <div>
                        <div class="tooltip tooltip-left button h2 pv1 ph2 ml2 br2 link bg-animate hover-bg-light-silver pointer" data-tooltip="add" (click)="chooseItemType = itemType.id; search.resetSearchData(); chooseItem.open()">
                            <i class="fa fa-plus"></i>
                        </div>
                    </div>
                </div>
                <div class="ph2 bt b--black-10" [hidden]="containedItemsAsMap.get(itemType.id)?.length < 1">
                    <p *ngFor="let item of containedItemsAsMap.get(itemType.id)">{{item.name}} <i class="ml1 fa fa-times grow pointer" (click)="removeItemFromContained(item)"></i></p>
                </div>
            </div>
        </div>
    </ttf-box>

    <ttf-dialog [dialogType]="'info'" #chooseItem>
        <h1 class="mv0" title>Choose Item:</h1>
        <div class="w-100 ph3 pv2" body>
            <ttf-search [asSelector]="true" [restrictToType]="chooseItemType" (selectedChanged)="addItemToContained($event); chooseItem.close()" #search></ttf-search>
        </div>
    </ttf-dialog>


    <ttf-dialog [dialogType]="'info'" #howTo>
        <h1 class="mv0" title>How To:</h1>
        <div class="w-100 ph3 pv2" body>
            <div>{{item?.type?.how_to}}</div>
        </div>
    </ttf-dialog>


</div>
