<div class="mb3 flex flex-wrap justify-center">
    <div class="mr1 pointer" [ngClass]="{underline: filter == null}" (click)="setFilter(null)">ALL</div>
    <div class="mr1" (click)="setFilter(letter)" [ngClass]="{underline: filter === letter, pointer: data?.get(letter).length > 0, 'black-60': data?.get(letter).length <= 0}"  *ngFor="let letter of alphabet">{{letter}}</div>
    <div class="mr1" [ngClass]="{red: filter === 'DELETED', 'pointer': deleted?.length > 0, 'black-60': deleted?.length <= 0}" (click)="setFilter('DELETED')" *ngIf="jwt.isAdmin()"><i class="fa fa-trash"></i></div>
</div>
<ng-container *ngFor="let letter of alphabet">
    <div class="flex" [ngClass]="{flex: (filter == null || filter === letter), dn: true}">
        <ng-container *ngIf="data?.get(letter).length > 0">
            <div class="f3 gray" style="width: 1em">{{letter}}</div>
            <ul class="mt0 list">
                <li class="min-w2 mb1 hide-child" *ngFor="let item of data?.get(letter)" (isVisible)="loadData(item)">
                    <p class="mv0">
                        <span class="b link underline-hover pointer" routerLink="/items/{{item.id}}">{{item.name}}</span>
                        <span class="i gray" [hidden]="!item?.is_currently_lent">lent</span>
                        <ng-container *ngIf="item?.type?.lendable && !item?.is_currently_lent">
                            <i class="child grow-large fa fa-cart-plus" [hidden]="staging.isStaged(item.id)" (click)="staging.stage(item.id)"></i>
                            <i class="fa fa-shopping-cart" [hidden]="!staging.isStaged(item.id)"></i>
                        </ng-container>
                    </p>
                    <p class="mv0 pl2">
                        <span class="black-70">
                            <span class="b">
                                Type:
                            </span>
                            {{item.type?.name}}
                            <ng-container *ngIf="itemTags.get(item.id)?.length > 0">
                                <span class="ml3 b">
                                    Tags:
                                </span>
                                <span class="black-70" *ngFor="let tag of itemTags.get(item.id); let last = last">
                                    {{tag?.name}}{{last ? '' : ', '}}
                                </span>
                            </ng-container>
                        </span>
                    </p>
                    <p class="mv0 pl2" *ngIf="itemAttributes.get(item.id)?.length > 0">
                        <span class="black-70" *ngFor="let attr of itemAttributes.get(item.id); let last = last">
                            <span class="b">
                                {{attr.attribute_definition?.name}}:
                            </span>
                            {{attr.value}}{{last ? '' : ', '}}
                        </span>
                    </p>
                </li>
            </ul>
        </ng-container>
    </div>
</ng-container>

<div class="flex" [ngClass]="{flex: (filter != null && filter === 'DELETED'), dn: true}" *ngIf="jwt.isAdmin()">
    <div class="f3 gray"><i class="fa fa-trash"></i></div>
    <ul class="mt0 list">
        <li class="min-w2 mb1 hide-child" *ngFor="let item of deleted">
            {{item.name}}
            <i class="ml1 child grow-large pointer fa fa-reply" (click)="api.undeleteItem(item.id)"></i>
        </li>
    </ul>
</div>
