<span [hidden]="valid">
    –
</span>
<ng-container *ngIf="valid" >
    <span [hidden]="duration !== 0">
        0
    </span>
    <span [hidden]="minutes === 0">
        {{minutes}} {{minutes > 1 ? 'minutes' : 'minute'}}
    </span>
    <span [hidden]="hours === 0">
        {{hours}} {{hours > 1 ? 'hours' : 'hour'}}
    </span>
    <span [hidden]="days === 0">
        {{days}} {{days > 1 ? 'days' : 'day'}}
    </span>
    <span [hidden]="years === 0">
        {{years}} {{years > 1 ? 'years' : 'year'}}
    </span>
</ng-container>
