name: ci

on:
  push:
    branches:
      - 'master'
  schedule:
    - cron: '1 17 * * 1'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push backend
        id: docker_build_backend
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: fius/ttf-backend:latest
      -
        name: Build and push worker
        id: docker_build_worker
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: fius/ttf-worker:latest
          file: Dockerfile_worker
