name: ci

on:
  pull_request:
    branches:
      - 'master'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build backend
        id: docker_build_backend
        uses: docker/build-push-action@v2
        with:
          push: false
          tags: fius/ttf-backend:test
      -
        name: Build worker
        id: docker_build_worker
        uses: docker/build-push-action@v2
        with:
          push: false
          tags: fius/ttf-worker:test
          file: Dockerfile_worker
