name: buildPr

on:
  pull_request:
    branches:
      - 'main'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Build backend
        id: docker_build_backend
        uses: docker/build-push-action@v2
        with:
          push: false
          tags: fius/ttf-backend:test
      -
        name: Build worker
        id: docker_build_worker
        uses: docker/build-push-action@v2
        with:
          push: false
          tags: fius/ttf-worker:test
          file: Dockerfile_worker
